.grid{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    width: 400px;
    height: 400px;
}

.square{
    height: 100px;
    width: 100px;
    border: solid black 1px;
}

.mole {
    background-image: url("현숙이 행님.jpg");
    background-size: cover;
}
